* {
    font-family: 'Montserrat', sans-serif;
}


.header{
    max-height: 300px;
    padding: 10px;

    background: #202327;
    position: relative;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 100%;
    background: linear-gradient(315deg, #484E57 14.89%, rgba(94, 103, 115, 0) 87.23%);
    border: 2px solid rgba(43, 47, 54, 1);
    box-shadow: -2px -4px 10px rgba(255, 255, 255, 0.02), 2px 5px 10px rgba(0, 0, 0, 1);
}

.burger {
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translateX(-50%);
    width: 15px;
    height: 2px;
    background: #FFFFFF;
}

.burger::before{
    content: '';
    width: 15px;
    height: 2px;
    display: block;
    background: #FFFFFF;
    margin-top: -4px;
}

.burger::after{
    content: '';
    display: block;
    width: 15px;
    height: 2px;
    background: #FFFFFF;
    margin-top: 6px;
}

.menu_list{
    position: relative;
    z-index: 1;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 211px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;

    color: white;
    background: #212327;
    border: 1px solid rgba(64, 64, 64, 0.25);
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), -1px -2px 10px rgba(255, 255, 255, 0.02), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.menu_list__yellow_bg{
    padding-top: 20px;
    width: 211px;
    height: 139px;
    margin-top: -10px;
    display: flex;
    padding-left: 5px;
    padding-right: 5px;
    justify-content: space-between;
    background: #FFC85F;
    border: 1px solid rgba(64, 64, 64, 0.45);
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 12px 12px;
    flex-wrap: wrap;

}

.menu_item{
    min-width: 95px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;



    background: #212327;
    border: 1px solid rgba(64, 64, 64, 0.25);
    box-sizing: border-box;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 10px;
    color: #FFFFFF;
}

.menu_item.choose{
    min-width: 95px;
    height: 24px;
    background: #FFC85F;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}
